{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-right">Contact</h1>
   <p class="text-gray-800">More Questions? You can contact me at: 
    <a class="underline" href="mailto:paulsantiago282@gmail.com">paulsantiago282@gmail.com</a>
    </p>
</div>
{{template "footer" .}} 